{#
   Awards
   Award logos and link

   @type {include}

#}


<div class="awards text-center" data-aos="fade">
    <h5 class="mb-10">Discover Our Awards</h5>
    <div class="flex flex-wrap items-center sm:justify-between py-5 -mx-3 mb-3">
        <div class="px-3 w-1/2 sm:w-auto">
            <img data-src="{{ siteUrl ~ 'uploads/images/bsif.png' }}" alt="award" class="mx-auto lazy-load">
        </div>
        <div class="px-3 w-1/2 sm:w-auto">
            <img data-src="{{ siteUrl ~ 'uploads/images/queens.png' }}" alt="award" class="mx-auto lazy-load">
        </div>
        <div class="px-3 hidden sm:block">
            <img data-src="{{ siteUrl ~ 'uploads/images/frost_and_sullivan.png' }}" alt="award" class="mx-auto lazy-load">
        </div>
        <div class="px-3 hidden md:block">
            <img data-src="{{ siteUrl ~ 'uploads/images/reddot.png' }}" alt="award" class="mx-auto lazy-load">
        </div>
        <div class="px-3 hidden lg:block">
            <img data-src="{{ siteUrl ~ 'uploads/images/forderpreis.png' }}" alt="award" class="mx-auto lazy-load">
        </div>
    </div>
    <div>
        <a href="/awards" class="link">View More Awards</a>
    </div>
</div>
