{#
   Awards
   Award logos and link

   @type {include}

#}


<div class="awards text-center" data-aos="fade">
    <h5 class="mb-10">Discover Our Awards</h5>
    <div class="py-5">
        <div class="swiper-container awards__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img data-src="{{ siteUrl ~ 'uploads/images/bsif.png' }}" alt="award" class="mx-auto lazy-load">
                </div>
                <div class="swiper-slide">
                    <img data-src="{{ siteUrl ~ 'uploads/images/queens.png' }}" alt="award" class="mx-auto lazy-load">
                </div>
                <div class="swiper-slide">
                    <img data-src="{{ siteUrl ~ 'uploads/images/frost_and_sullivan.png' }}" alt="award" class="mx-auto lazy-load">
                </div>
                <div class="swiper-slide">
                    <img data-src="{{ siteUrl ~ 'uploads/images/reddot.png' }}" alt="award" class="mx-auto lazy-load">
                </div>
                <div class="swiper-slide">
                    <img data-src="{{ siteUrl ~ 'uploads/images/forderpreis.png' }}" alt="award" class="mx-auto lazy-load">
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="/awards" class="link">View More Awards</a>
    </div>
</div>
